
body {
width: 100%;
height: 100%;
background-image: url("https://i.imgur.com/aB1A3ig.png");
background-position: center 50%; 
background-repeat: no-repeat;
background-color: #71ad82;

}

.logo{

}

.main_left{
float: left;
width: 50%;
top: 15%;
position: relative;
}

.main_right{
float: left;
width: 50%;
top: 30%;
position: relative;
}

.login_con{
margin: auto;
width: 50%;

}

.letter_con{
margin: auto;
width: 70%;

}

.google_con{

width: 140%;

}

.mid_text{
text-align: center;
top: 80%;
position: relative;
color: white;
}

.log_btn{
margin: auto;
width: 50%;
}

.log_back{
 background-position: center;
}

#errormsg {
margin: auto; 
width: 80%;
}

.pokeball{

margin-top: 40px;

}


.ball {
    background-image: url("https://upload.wikimedia.org/wikipedia/en/3/39/Pokeball.PNG");
    background-position:50% 50%; 
    background-size:cover;  
    border-radius: 50%;
    width: 80px;
    height: 80px;
    position: absolute;
	top: 400px;
    left: 32%;

    
    -webkit-animation-name: bounceball;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-delay: 0;
    -webkit-animation-timing-function: ease-out;
    
    animation-name: bounceball;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 0;
    
    timing-function: ease-out;
    
    animation-play-state: running;
    animation-fill-mode: none;
}
 @-webkit-keyframes bounceball {
    from { top: 26%; height: 90px; }
    10%  { top: 26%; height: 100px; }
    to   { top: 30px; }
}


.mob_login{
margin-right: 70px;
}

@media (max-width: 500px) {

.mob_dis{
display: none;
}

.five{
	
}

.wide{
	
}

.column{
	
	
}

.mob_login{
margin-right: 0px;
}

}